/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --header-text-color: #000028;
  --section-card-title: #000028;
  --subtitle-color: #000028;
  --title-color: #DB00FF;
  --title-shadow-color: #ff0070;
  --footer-title-shadow-color: var(--title-shadow-color);
  --button-hover-border-color: rgb(255 0 112 / 0.4);
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --decorated-text-color: var(--accent-color);
  --bg-color: #000028;
}

